<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-ftp" version="1.1.1">
    <name>Ftp</name>
    <description>Cordova Ftp Plugin</description>
    <license>MIT</license>
    <keywords>cordova,ftp</keywords>

    <js-module src="www/ftp.js" name="ftp">
        <clobbers target="window.ftp" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Ftp">
                <param name="android-package" value="com.foxdebug.ftp.Ftp" />
            </feature>
        </config-file>

        <source-file src="src/android/com/foxdebug/ftp/Ftp.java" target-dir="src/com/foxdebug/ftp" />
        <framework src="commons-net:commons-net:3.8.0" />
    </platform>

</plugin>
