#about-page {
  overflow: auto;

  .logo {
    display: block;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 8px 2px (--box-shadow-color);
    margin: 15px auto;
  }

  .file {
    background-position: center;
  }
}
