<div id='github-login' class='main'>
  <form class='form' action='#'>
    <input type='text' id='token' placeholder='GitHub token' />

    <span id='error-msg'></span>
    <div class='button-container primary'>
      <button type='submit'>{{login}}</button>
    </div>
  </form>
</div>