<div id="github-login" class="main">
  <form class="form" action="#">
    <input type="text" id="username" placeholder="username">
    <input type="password" id="password" placeholder="password">
    <span class="hr">or</span>
    <input type="text" id="token" placeholder="token">

    <span id="error-msg"></span>
    <div class="button-container primary">
      <button type="submit">login</button>
    </div>
  </form>
</div>