{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": "3.22"
      }
    ]
  ],
  "plugins": [
    "html-tag-js/jsx/jsx-to-tag.js",
    "html-tag-js/jsx/syntax-parser.js",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-block-scoping"
  ],
  "compact": false,
  "sourceMaps": "inline"
}