{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry"
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        "@babel/env"
      ]
    }
  },
  "plugins": [
    [
      "@babel/plugin-transform-runtime"
    ]
  ],
  "compact": false,
  "sourceMaps": "inline"
}