/node_modules
/build.json
/www/js/build
/www/css/build
/plugins
/platforms
/package-lock.json
/keystore.jks
/platforms/android/debug-signing.properties
/platforms/android/release-signing.properties