<?xml version='1.0' encoding='utf-8' ?>
<widget id="com.foxdebug.acode" android-versionCode="950" version="1.10.3"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Acode</name>
    <description>
        Light weight code editor and web IDE for android.
    </description>
    <author email="ajit@foxdebug.com" href="https://foxdebug.com">
       Foxdebug
    </author>
    <content src="index.html" />
    <access launch-external="yes" origin="*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="http://*/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="fullscreen" value="false"/>
        <preference name="SplashScreen" value="none"/>
        <preference name="ShowTitle" value="true"/>
        <preference name="DisallowOverscroll" value="true" />
        <preference name="BackgroundColor" value="0xFF313131" />
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />
        <preference name="AndroidLaunchMode" value="singleTask" />
        <preference name="prerendered-icon" value="false" />
        <preference name="androidxEnabled" value="true" />

        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:networkSecurityConfig="@xml/network_security_config" />
            <application android:hardwareAccelerated="true" />
            <application android:requestLegacyExternalStorage="true" />
            <application android:largeHeap="true" />
        </edit-config>

        <config-file parent="./application/activity" target="AndroidManifest.xml">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <data android:mimeType="text/*"/>
                <data android:mimeType="xml/*" />
                <data android:mimeType="application/text" />
                <data android:mimeType="application/xml" />
                <data android:mimeType="application/json" />
                <data android:mimeType="application/javascript" />
                <data android:mimeType="application/x-sh" />
                <data android:mimeType="application/octet-stream"/>
                <data pathPattern=".*\.txt"/>
                <data pathPattern=".*\.xml"/>
                <data pathPattern=".*\.json"/>
            </intent-filter>
            <!-- Allow app to open using url from browser -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="acode" />
            </intent-filter>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
            <uses-permission android:name="android.permission.VIBRATE" />
            <!-- <uses-permission android:name="com.termux.permission.RUN_COMMAND" /> -->
        </config-file>

        <hook type="before_prepare" src="hooks/modify-java-files.js" />
        <hook type="after_prepare" src="hooks/post-process.js" />
    </platform>
</widget>
