<div id='row1' class='button-container'>
  <button action='pallete' class='icon keyboard_control'></button>
  <button action='tab' class='icon keyboard_tab' vibrate></button>
  <button action='shift' id='shift-key' class='icon shift' vibrate></button>
  <button action='undo' class='icon undo' vibrate></button>
  <button action='redo' class='icon redo' vibrate></button>
  <button
    action='search'
    id='find-tool'
    class='icon search'
    style='font-weight: 800;'
  ></button>
  <button action='save' class='icon save' vibrate></button>
  <button action='more' class='icon arrow_drop_up'></button>
</div>