<div id='row1' class='button-container'>
  <div class='section'>
    <button action='pallete' class='icon keyboard_control'></button>
    <button action='tab' class='icon keyboard_tab' vibrate></button>
    <button
      action='shift'
      id='shift-key'
      class='icon letters'
      data-letters='shft'
    ></button>
    <button action='undo' class='icon undo' vibrate></button>
    <button action='redo' class='icon redo' vibrate></button>
    <button action='search' class='icon search'></button>
    <button action='save' class='icon save' vibrate></button>
    <button
      action='escape'
      class='icon letters'
      data-which='27'
      data-letters='esc'
    ></button>
  </div>
  <div class='section'>
    <button action='key' value='{'>{</button>
    <button action='key' value='}'>}</button>
    <button action='key' value='['>[</button>
    <button action='key' value=']'>]</button>
    <button action='key' value='('>(</button>
    <button action='key' value=')'>)</button>
    <button action='key' value='<'>&lt;</button>
    <button action='key' value='>'>&gt;</button>
  </div>
</div>