<div class="button-container">
    <button action="pallete" class="icon keyboard_control"></button>
    <button action="tab" class="icon keyboard_tab"></button>
    <button action="shift" class="icon custom shift"></button>
    <button action="undo" class="icon undo"></button>
    <button action="redo" class="icon redo"></button>
    <button action="search" class="icon search"></button>
    <button action="save" class="icon save"></button>
    <button action="more" class="icon more_vert"></button>
</div>