<div id='row2' class='button-container'>
  <div class="section">
    <button action='left' class='icon keyboard_arrow_left' vibrate></button>
    <button action='right' class='icon keyboard_arrow_right' vibrate></button>
    <button action='up' class='icon keyboard_arrow_up' vibrate></button>
    <button action='down' class='icon keyboard_arrow_down' vibrate></button>
    <button action='moveline-up' class='icon moveline-up' vibrate></button>
    <button action='moveline-down' class='icon moveline-down' vibrate></button>
    <button action='copyline-up' class='icon copyline-up' vibrate></button>
    <button action='copyline-down' class='icon copyline-down' vibrate></button>
  </div>
  <div class="section">
    <button action="key" value=";">;</button>
    <button action="key" value="'">'</button>
    <button action="key" value='"'>"</button>
    <button action="key" value="&">&amp;</button>
    <button action="key" value="|">|</button>
    <button action="key" value="=">&equals;</button>
    <button action="key" value="/">/</button>
    <button action="key" value="!">!</button>
  </div>
</div>