<div class="button-container">
    <button action="left" class="icon keyboard_arrow_left"></button>
    <button action="right" class="icon keyboard_arrow_right"></button>
    <button action="up" class="icon keyboard_arrow_up"></button>
    <button action="down" class="icon keyboard_arrow_down"></button>
    <button action="moveline-up" class="icon custom moveline-up"></button>
    <button action="moveline-down" class="icon custom moveline-down"></button>
    <button action="copyline-up" class="icon custom copyline-up"></button>
    <button action="copyline-down" class="icon custom copyline-down"></button>
</div>