<div class="button-container" id="search_row1">
    <input id="searchInput" type="text" placeholder="{{search}}">
    <button action="prev" class="icon arrow_back"></button>
    <button action="next" class="icon arrow_forward"></button>
    <button action="search-settings" class="icon settings"></button>
</div>
<div class="button-container" id="search_row2">
    <input id="replaceInput" type="text" placeholder="{{replace}}">
    <button action="replace" class="icon replace"></button>
    <button action="replace-all" class="icon replace_all"></button>
    <div class="search-status">
        <span id="current-pos">0</span>
        <span>of</span>
        <span id="total-result">0</span>
    </div>
</div>