<div class="button-container">
    <input id="searchInput" type="text" placeholder="{{search}}">
    <button action="prev" class="icon arrow_back"></button>
    <button action="next" class="icon arrow_forward"></button>
</div>
<footer class="button-container">
    <input id="replaceInput" type="text" placeholder="{{replace}}">
    <button action="replace" class="icon custom replace"></button>
    <button action="replace-all" class="icon custom replace_all"></button>
</footer>