@font-face {
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("RobotoMono"), local("RobotoMono-Regular"),
    url("./RobotoMono-Regular.ttf") format("ttf");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}