<div class="main" id="plugins">
   <div class='options'>
    <span action='select' tabindex='0' value='all' class='active'>All</span>
    <span action='select' tabindex='0' value='installed'>Installed</span>
  </div>
  <div id='plugin-list' class='list scroll' empty-msg="{{msg}}"></div>
</div>