<li action="create" value="file">{{new file}}</li>
<li action="create" value="folder">{{new folder}}</li>
<li action="create" value="project">{{new project}}</li>
<li action="import-project-zip" value="import-project-zip">{{import project zip}}</li>
