<li action='add-path' {{#addPathNotice}}class="notice"{{/addPathNotice}}>{{add path}}</li>
<li action='addFtp'>{{add ftp}}</li>
<li action='addSftp' {{#addSftpNotice}}class="notice"{{/addSftpNotice}}>{{add sftp}}</li>