<ul class="list" id="mode-list">{{#encodings}}
  {{#.}}
  <li tabindex="1" class="tile" data-action="select" data-encoding="{{.}}">
    <span class="icon no-icon"></span>
    <div class="text">
      <span>{{.}}</span>
    </div>
  </li>
  {{/.}}
  {{/encodings}}</ul>