<?xml version='1.0' encoding='utf-8'?>
<plugin id="admob-plus-cordova" version="1.27.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>admob-plus-cordova</name>
    <js-module name="AdMob" src="www/admob.js">
        <clobbers target="admob" />
    </js-module>

    <engines>
        <engine name="cordova" version=">=7.0.0" />
        <engine name="cordova-android" version=">=6.0.0" />
        <engine name="cordova-ios" version=">=5.0.0" />
    </engines>

    <hook type="after_plugin_add" src="scripts/iosNSAppTransportSecurity.js" />
    <hook type="after_plugin_install" src="scripts/iosNSAppTransportSecurity.js" />
    <hook type="after_prepare" src="scripts/iosNSAppTransportSecurity.js" />
    <hook type="before_compile" src="scripts/iosNSAppTransportSecurity.js" />

    <platform name="android">
        <preference name="APP_ID_ANDROID" default="ca-app-pub-xxx~yyy" />
        <preference name="PLAY_SERVICES_VERSION" default="20.4.0" />

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:excludeFromRecents="true" android:name="com.google.android.gms.ads.AdActivity" android:noHistory="true" />
            <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="$APP_ID_ANDROID" />
            <meta-data android:name="com.google.android.gms.ads.DELAY_APP_MEASUREMENT_INIT" android:value="true"/>
        </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AdMob">
                <param name="android-package" value="admob.plus.cordova.AdMob"/>
            </feature>
        </config-file>

        <framework src="com.google.android.gms:play-services-ads:$PLAY_SERVICES_VERSION" />

        <!-- AUTOGENERATED: ANDROID_BEGIN -->
        <source-file src="src/android/cordova/AdMob.java" target-dir="src/admob/plus/cordova" />
        <source-file src="src/android/cordova/ExecuteContext.java" target-dir="src/admob/plus/cordova" />
        <source-file src="src/android/cordova/Generated.java" target-dir="src/admob/plus/cordova" />
        <source-file src="src/android/cordova/ads/AdBase.java" target-dir="src/admob/plus/cordova/ads" />
        <source-file src="src/android/cordova/ads/AppOpen.java" target-dir="src/admob/plus/cordova/ads" />
        <source-file src="src/android/cordova/ads/Banner.java" target-dir="src/admob/plus/cordova/ads" />
        <source-file src="src/android/cordova/ads/Interstitial.java" target-dir="src/admob/plus/cordova/ads" />
        <source-file src="src/android/cordova/ads/Native.java" target-dir="src/admob/plus/cordova/ads" />
        <source-file src="src/android/cordova/ads/Rewarded.java" target-dir="src/admob/plus/cordova/ads" />
        <source-file src="src/android/cordova/ads/RewardedInterstitial.java" target-dir="src/admob/plus/cordova/ads" />
        <source-file src="src/android/core/Ad.java" target-dir="src/admob/plus/core" />
        <source-file src="src/android/core/Context.java" target-dir="src/admob/plus/core" />
        <source-file src="src/android/core/GenericAd.java" target-dir="src/admob/plus/core" />
        <source-file src="src/android/core/Helper.java" target-dir="src/admob/plus/core" />
        <!-- AUTOGENERATED: ANDROID_END -->
    </platform>

    <platform name="ios">
        <preference name="APP_ID_IOS" default="ca-app-pub-xxx~yyy" />
        <preference name="USAGE" default="This identifier will be used to deliver personalized ads to you." />
        <preference name="disableSDKCrashReporting" default="false" />

        <config-file target="config.xml" parent="/*">
            <feature name="AdMob">
                <param name="ios-package" value="AMBPlugin" />
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="GADApplicationIdentifier">
            <string>$APP_ID_IOS</string>
        </config-file>

        <config-file target="*-Info.plist" parent="GADDelayAppMeasurementInit">
            <true/>
        </config-file>

        <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
            <dict>
                <key>NSAllowsArbitraryLoads</key>
                <true/>
                <key>NSAllowsArbitraryLoadsForMedia</key>
                <true/>
                <key>NSAllowsArbitraryLoadsInWebContent</key>
                <true/>
            </dict>
        </config-file>

        <config-file target="*-Info.plist" parent="NSUserTrackingUsageDescription">
            <string>$USAGE</string>
        </config-file>

        <config-file target="*-Info.plist" parent="SKAdNetworkItems">
            <array>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>cstr6suwn9.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>4fzdc2evr5.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>2fnua5tdw4.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>ydx93a7ass.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>5a6flpkh64.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>p78axxw29g.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>v72qych5uu.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>c6k4g5qg8m.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>s39g8k73mm.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>3qy4746246.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>3sh42y64q3.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>f38h382jlk.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>hs6bdukanm.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>prcb7njmu6.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>v4nxqhlyqp.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>wzmmz9fp6w.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>yclnxrl5pm.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>t38b2kh725.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>7ug5zh24hu.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>9rd848q2bz.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>n6fk4nfna4.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>kbd757ywx3.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>9t245vhmpl.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>4468km3ulz.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>2u9pt9hc89.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>8s468mfl3y.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>av6w8kgt66.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>klf5c3l5u5.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>ppxm28t8ap.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>424m5254lk.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>uw77j35x4d.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>578prtvx9j.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>4dzt52r2t5.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>e5fvkxwrpn.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>8c4e2ghe7u.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>zq492l623r.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>3qcr597p9d.skadnetwork</string>
                </dict>
            </array>
        </config-file>

        <!-- AUTOGENERATED: IOS_BEGIN -->
        <source-file src="src/ios/AMBAdBase.swift" />
        <source-file src="src/ios/AMBAppOpenAd.swift" />
        <source-file src="src/ios/AMBBanner.swift" />
        <source-file src="src/ios/AMBContext.swift" />
        <source-file src="src/ios/AMBCore.swift" />
        <source-file src="src/ios/AMBGenerated.swift" />
        <source-file src="src/ios/AMBInterstitial.swift" />
        <source-file src="src/ios/AMBNativeAd.swift" />
        <source-file src="src/ios/AMBPlugin.swift" />
        <source-file src="src/ios/AMBRewarded.swift" />
        <source-file src="src/ios/AMBRewardedInterstitial.swift" />
        <!-- AUTOGENERATED: IOS_END -->

        <framework src="AppTrackingTransparency.framework" weak="true" />

        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/" />
            </config>
            <pods use-frameworks="true">
                <pod name="Google-Mobile-Ads-SDK" spec="~> 8.13.0" />
            </pods>
        </podspec>
    </platform>

    <platform name="browser">
        <config-file target="config.xml" parent="/*">
            <feature name="AdMob">
                <param name="browser-package" value="AdMob" />
            </feature>
        </config-file>

        <js-module src="src/browser/AdMobProxy.js" name="AdMobProxy">
            <runs />
        </js-module>
    </platform>
</plugin>
