.about-us {
    >div {
        padding: 10px;
        box-sizing: border-box;
    }

    .logo {
        background-repeat: no-repeat;
        background-size: 200px;
        background-position: center;
        width: 200px;
        height: 200px;
        display: block;
        border-radius: 50%;
        box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.4);
        margin: 25px auto;
    }

    a {
        text-decoration: none;
    }

    .telegram {
        color: #0088cc;
    }

    .mail {
        color: #c71610;
    }

    .github {
        background-image: url(../res/logo/github.svg);
        background-repeat: no-repeat;
        background-size: 28px;
        background-position: center;
    }
}