@import './variables.scss';

.context-menu {
    z-index: 104;
    box-sizing: border-box;
    position: fixed;
    width: fit-content;
    min-width: 220px;
    max-width: 320px;
    min-height: 40px;
    max-height: calc(100vh - 38px);
    overflow-y: auto;

    &+.mask {
        z-index: 103;
    }

    background-color: white;
    box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.5);
    border-radius: 4px;

    transform-origin: top center;
    animation: menu-grow 100ms ease 1;

    list-style: none;
    padding: 0;

    hr {
        color: rgba(0, 0, 0, 0.1);
        border: none;
        border-bottom: solid 1px currentColor;
    }

    li {
        display: flex;
        height: 50px;
        align-items: center;
        padding: 0 10px;

        .text {
            flex: 1;
            pointer-events: none;
            text-transform: capitalize;
        }

        .icon {
            pointer-events: none;
            color: $primary;
        }

        &.disabled {
            pointer-events: none;
            color: #999 !important;
        }
    }

    &.hide {
        transition: all 100ms ease;
        opacity: 0;
    }
}

@keyframes menu-grow {
    0% {
        transform: scale(0) translateZ(0);
        opacity: 0;
    }

    80% {
        opacity: 1;
    }

    100% {
        transform: scale(1) translateZ(0);
    }
}