.page.demo-page {
    transition: all 300ms ease;

    .main {
        max-width: 100%;
    }

    &.hide {
        opacity: 0;
        transform: translate(0, 50%);
    }

    .main {
        height: 100vh;
        display: flex;
        overflow: visible;
        transition: all 300ms ease;

        .view {
            width: 100vw;
            height: 100vh;
            position: relative;

            &.tiles {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: auto;

                .rec-tile {
                    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
                    border-radius: 4px;
                    color: #666 !important;
                    background-color: white;
                    text-decoration: none;
                    height: 60px;
                    width: 90vw;
                    margin: 0 5vw;

                    display: flex;
                    align-items: center;
                    padding: 0 10px;

                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }
                }
            }

            span.heading {
                font-size: 2.5em;
                font-weight: 900;
                width: 100vw;
                height: 30vh;
                display: flex;
                align-items: center;
                text-align: center;
                padding: 10px;
                box-sizing: border-box;
                justify-content: center;
                color: white;
            }

            img {
                position: absolute;
                left: 50%;
                transform: translate(-50%, 0);
                bottom: auto;
                max-width: 90vw;
                max-height: calc(70vh - 40px);
                border-radius: 4px;
                box-shadow: -5px -5px 10vw rgba(0, 0, 0, 0.4);
            }
        }
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        background: transparent;
        flex-wrap: nowrap;
        display: flex;

        >.icon {
            flex: 0;
            color: white;
            height: 40px;
            width: 40px;
            font-size: 2em;
        }

        .progress {
            flex: 1;
            display: flex;
            padding: 0 10px;
            box-sizing: border-box;
            align-items: center;
            justify-content: center;
        }

        .icon.circle-outline {
            height: 20px;
            width: 20px;

            &.fill::before {
                background-color: white;
            }

            &::before {
                content: '';
                height: 6px;
                width: 6px;
                border-radius: 50%;
                border: solid 1px white;
                box-shadow: 0 0 2px rgba($color: #000000, $alpha: 0.4);
            }
        }
    }
}