#file-info {
  .name {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .text {
      font-size: 1.5rem;
      font-weight: bold;
      opacity: 1;
    }

    .share-button {
      background-color: #3399ff;
      background-color: var(--button-background-color);
      color: white;
      color: var(--text-main-color);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 95px;
      margin-left: 5px;
      border-radius: 20px;

      * {
        pointer-events: none;
      }

      .icon {
        height: 30px;
        margin-right: 10px;
      }
    }
  }

  >div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    >span:first-child {
      font-size: 0.95rem;
      opacity: 0.5;
      margin-right: 10px;
    }

    >span:last-child {
      max-width: 100%;
      overflow: auto;
    }
  }
}