#hints {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  border-radius: 0 0 4px 4px;
  background-color: rgb(255, 255, 255);
  background-color: var(--secondary-color);
  color: rgb(37, 37, 37);
  color: var(--text-color);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px var(--box-shadow-color);
  border: solid 1px transparent;
  border: solid 1px var(--popup-border-color);
  height: fit-content;
  min-height: 30px;
  max-height: 70vh;
  z-index: 999;
  overflow-y: scroll;

  &.bottom {
    border-radius: 4px 4px 0 0;
  }

  &.all{
    border-radius: 4px;
  }

  [action='hint'] {
    font-size: 0.9rem;
    min-height: 30px;
    height: fit-content;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
    overflow-x: hidden;
    text-overflow: ellipsis;

    span[data-str]::after{
      content: attr(data-str);
      font-size: 0.6rem;
      opacity: 0.5;
      margin-left: 10px;
    }

    small:not(:empty){
      margin-left: auto;
      background-color: rgb(255, 255, 255);
      background-color: var(--text-main-color);
      color: rgb(51, 153, 255);
      color: var(--accent-color);
      padding: 2px;
      border-radius: 2px;
      font-size: 0.6rem;
    }

    &.active {
      background-color: rgb(51, 153, 255);
      background-color: var(--accent-color);
      color: rgb(27, 26, 26);
      color: var(--text-main-color);
    }

    &:hover{
      background-color: rgb(107, 168, 229); 
      background-color: var(--primary-color);
      color: rgb(27, 26, 26);
      color: var(--text-color);
    }

    // &:not(:last-child) {
    //   border-bottom: solid 1px rgb(204, 204, 204);
    //   border-bottom: solid 1px var(--border-color);
    // }
  }

  &.loading {
    min-height: 40px;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      content: '';
      display: block;
      height: 18px;
      width: 18px;
      border-radius: 50%;
      border: solid 4px rgb(37, 37, 37);
      border: solid 4px var(--text-color);
      border-bottom: solid 4px rgba($color: #000000, $alpha: 0) !important;
      margin: auto;
      animation: rotate 1s linear infinite !important;

      @keyframes rotate {
        0% {
          transform: rotate(0deg) translateZ(0);
        }

        100% {
          transform: rotate(360deg) translateZ(0);
        }
      }
    }
  }

  &:empty {
    display: none;
  }
}
