* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;

    &:focus {
        outline: none;
    }
}

html {
    overflow: auto;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #9999ff;
    background-color: var(--primary-color);
    color: #252525;
    color: var(--text-color);
}

a {
    color: #615efd;
    color: var(--a-color);
}

.open-file-list {
    position: absolute;
    top: 45px;
    top: var(--header-height);
    height: 30px;
    width: 100%;
    background-color: #9999ff;
    background-color: var(--primary-color);
    overflow-x: auto !important;
    overflow-y: hidden !important;
    display: flex;
    flex-direction: row !important;
    color: white;
    color: var(--text-main-color);

    li.tile {
        min-width: min-content;
        height: 30px;
        overflow: hidden;
        font-size: 0.8em;
        align-items: center;
        margin: 0;
        padding: 0;
        color: inherit;

        .text {
            display: inline-block;
            white-space: nowrap;
            max-width: 180px;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0;
            padding: 0;
            color: inherit;
        }

        &.select {
            position: absolute;
            left: 0;
            top: 0;
        }

        &.notice {
            &::before {
                content: '•';
                color: #ffda0c;
                font-size: 2em;
                margin-left: 2.5px;
            }
        }

        &.active {
            border-top: solid 2px gold;
            background-color: rgba(0, 0, 0, 0.2);
        }

        .file,
        .icon {
            height: 24px;
            width: 24px;
            font-size: 1em;
            background-size: 22px;
            background-position: center;
            color: inherit;
        }
    }
}

#hints {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    border-radius: 0 0 4px 4px;
    background-color: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    height: fit-content;
    min-height: 30px;
    z-index: 999;
    overflow-y: auto;

    &.bottom {
        border-radius: 4px 4px 0 0;
    }

    [action=hint] {
        height: 30px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 0 10px;
        overflow-x: hidden;
        text-overflow: ellipsis;

        &.active {
            background-color: #3399ff;
            color: white;
        }

        &:not(:last-child) {
            border-bottom: solid 1px #cccccc;
        }
    }

    &.loading {
        min-height: 40px;
        padding: 10px;
        box-sizing: border-box;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        &::after {
            content: '';
            display: block;
            height: 18px;
            width: 18px;
            border-radius: 50%;
            border: solid 4px #252525;
            border: solid 4px var(--text-color);
            border-bottom: solid 4px rgba($color: #000000, $alpha: 0) !important;
            margin: auto;
            animation: rotate 1s linear infinite;

            @keyframes rotate {
                0% {
                    transform: rotate(0deg) translateZ(0);
                }

                100% {
                    transform: rotate(360deg) translateZ(0);
                }
            }
        }
    }

    &:empty {
        display: none;
    }
}

#search-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 45px;
    height: var(--header-height);
    width: 100%;
    animation: show 300ms ease 1;
    z-index: 200;
    background-color: inherit;
    display: flex;

    input {
        flex: 1;
        max-width: 600px;
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, 0.2);
        border: none;
        margin: 5px;
        box-sizing: border-box;

        &:focus {
            outline: none;
            box-shadow: rgba(0, 0, 0, 0.5);
        }

        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration {
            display: none;
        }
    }

    .icon {
        height: 45px;
        height: var(--header-height);
        width: 45px;
        width: var(--header-height);
        font-size: 1.2em;
        color: white;
    }

    &.hide {
        transition: all 300ms ease;
        opacity: 0;
        transform: translate(0, -100%, 0);
    }

    @keyframes show {
        from {
            opacity: 0;
            transform: translate3d(0, -100%, 0);
        }

        to {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
}

.no-scroll {
    &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
}

.list,
.prompt,
.scroll {
    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.333);
        background: var(--scrollbar-color);
        border-radius: 2px;
    }
}

.octicon,
.icon {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.hidden {
        display: none !important;
    }

    &.app-logo {
        background-image: url(./res/logo/logo.png);
        background-position: center;
        background-size: 24px;
        background-repeat: no-repeat;
    }

    &.color {
        display: flex;

        &::before {
            content: '';
            height: 16px;
            width: 16px;
            border: solid 1px gold;
            border: solid 1px var(--accent-color);
            background-color: currentColor;
            color: inherit !important;
        }

        &.dark {
            color: #252525;
        }

        &.light {
            color: #ffffff;
        }
    }

    &.notice {
        position: relative;

        &::after {
            content: '•';
            position: absolute;
            top: 5px;
            right: 5px;
            color: #ffda0c;
            font-size: 2em;
            height: fit-content;
            line-height: 4px;
        }
    }

    &.angularjs::before {
        content: "\e92f";
        color: #dd0031;
    }

    &.html::before {
        content: "\e939";
        color: #e34f26;
    }

    &:focus {
        border: solid 1px rgba(255, 238, 0, 0.5);
        box-sizing: border-box;
    }

    &.disabled {
        opacity: 0.6;
        pointer-events: none;
    }

    &.dull {
        opacity: 0.6;
    }

    &:not(.float):active {
        transition: all 100ms ease;
        background-color: rgba(0, 0, 0, 0.2) !important;
    }

    &.active {
        background-color: rgba(0, 0, 0, 0.2) !important;
    }

    &.foxdebug {
        background-image: url(./res/logo/favicon.ico);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 18px;
    }

    &.no-icon {
        max-width: 10px;
    }

    &.patreon {
        background-image: url(./res/logo/patreon.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 18px;
    }
}

.mask {
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0;
}

footer {

    &.button-container,
    .button-container {
        background-color: #9999ff;
        background-color: var(--primary-color);
        color: white;
        color: var(--text-main-color);
    }
}

.button-container {
    display: flex;
    height: 40px;
    height: var(--footer-height);
    background-color: inherit;
    color: inherit;
    user-select: none;
    width: 100%;

    &.primary {

        button {
            color: white !important;
            color: var(--primary-button-text-color) !important;
            background-color: #39f !important;
            background-color: var(--primary-button-background-color) !important;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
            border-radius: 4px;

            &:active {
                background-color: #2c8ef0 !important;
                background-color: var(--primary-button-active-color) !important;
                box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
            }
        }
    }


    &.disabled {
        pointer-events: none;

        .icon,
        input,
        button {
            opacity: 0.6;
        }
    }

    >button {
        flex: 1;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: none;
        text-transform: uppercase;
        background-color: inherit;
        color: inherit;

        &:active {
            transition: all 100ms ease;
            box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
        }

        &:disabled {
            opacity: 0.6;
        }
    }

    textarea,
    input {
        flex: 2;
        height: unset;
        color: inherit;
        border-bottom: 1px solid currentColor;
        margin: 5px;
        background-color: inherit;

        &::placeholder {
            color: rgba(255, 255, 255, 0.6);
        }
    }

    .icon {
        color: inherit;
        font-size: 1.3em;
    }

    .search,
    .save {
        font-size: 1em;
    }
}

input {
    height: 40px;
    outline: none;
    border: none;
    background-color: inherit;
    border-bottom: solid 1px #252525;
    border-bottom: solid 1px var(--text-color);
    padding: 0;
    box-sizing: border-box;
    color: #252525;
    color: var(--text-color);
    text-indent: 10px;

    ::placeholder {
        color: #252525;
        color: var(--text-color);
        opacity: 0.5;
    }

    &:focus {
        border-bottom-color: gold !important;
        border-bottom-color: var(--accent-color) !important;
    }
}

input,
textarea {
    &::placeholder {
        color: #252525;
        color: var(--text-color);
        opacity: 0.8;
        text-transform: lowercase;
    }
}

.search-status {
    flex: 1;
    display: flex;
    color: white;
    color: var(--text-main-color);
    align-items: center;
    justify-content: center;

    span:not(:nth-child(2)) {
        margin: 0 5px;
        color: white;
        color: var(--text-main-color);
    }
}

.cursor-control {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
    background-color: var(--text-main-color);
    z-index: 9;
    margin-left: -14px;
    margin-top: 4px;
    box-shadow: 0 0 2px rgba($color: #000000, $alpha: 0.5);

    &.end {
        border-radius: 0% 50% 50% 50%;
    }

    &.start {
        border-radius: 50% 0 50% 50%;
        margin-left: -10.5px;
    }
}

.clipboard-contextmneu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #9999ff;
    background-color: var(--primary-color);
    display: flex;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    z-index: 99;
    color: white;
    color: var(--text-main-color);

    >span {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        margin: 5px 0;
        padding: 0 5px;
        font-size: 0.9em;
        min-width: 67px;
        text-align: center;
        color: inherit;
        user-select: none;
        white-space: nowrap;

        &:not(:last-child) {
            border-right: solid 1px currentColor;
        }

        &.disabled {
            opacity: 0.6;
            pointer-events: none;
        }
    }
}

.file {
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: 6px center;
    background-size: 18px;
    width: 30px;
    height: 30px;
}

.main {
    position: relative;
}

.hr {
    display: flex;
    align-items: center;
    margin: auto auto 15px auto;

    &::after,
    &::before {
        content: '';
        height: 1px;
        width: 60px;
        background-color: #252525;
        background-color: var(--text-color);
        margin: auto 15px;
        opacity: 0.5;
    }
}

.d-none {
    display: none !important;
}

@keyframes move-around {
    0% {
        transform: scaleX(1) translate3d(-100px, 0, 0);
        background-color: rgb(211, 106, 106);
    }

    25% {
        background-color: rgb(157, 211, 106);
    }

    50% {
        transform: scaleX(1) translate3d(100px, 0, 0);
        background-color: rgb(211, 106, 197);
    }

    75% {
        background-color: rgb(130, 106, 211);
    }

    100% {
        transform: scaleX(1) translate3d(-100px, 0, 0);
        background-color: rgb(211, 106, 106);
    }
}