@import './variables.scss';

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;

    &:focus {
        outline: none;
    }
}

.octicon,
.icon {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.hidden {
        display: none !important;
    }

    &.app-logo {
        background-image: url(../res/logo/logo.png);
        background-position: center;
        background-size: 28px;
        background-repeat: no-repeat;
    }

    &.notice {
        position: relative;

        &::after {
            content: '•';
            position: absolute;
            top: 5px;
            right: 5px;
            color: #ffda0c;
            font-size: 2em;
            height: fit-content;
            line-height: 4px;
        }
    }

    &.disabled {
        opacity: 0.6;
        pointer-events: none;
    }

    &:not(.float):active {
        transition: all 100ms ease;
        background-color: rgba(0, 0, 0, 0.2) !important;
    }

    &.active {
        background-color: rgba(0, 0, 0, 0.2) !important;
    }
}

html {
    overflow: auto;
    width: 100%;
    height: 100%;
}

.mask {
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0;
}

.button-container {
    display: flex;
    height: $footerHeight;
    width: 100%;

    user-select: none;

    &.disabled {
        pointer-events: none;

        .icon,
        input,
        button {
            opacity: 0.6;
        }
    }

    >button {
        flex: 1;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: $primary;
        color: white;
        text-transform: uppercase;

        &:active {
            transition: all 100ms ease;
            background-color: darken($color: $primary, $amount: 20)
        }

        &:disabled {
            opacity: 0.6;
        }
    }

    input {
        height: unset;
        color: white;
        border-bottom: 1px solid white;
        margin: 5px;

        &::placeholder {
            color: rgba(255, 255, 255, 0.6);
        }
    }

    .icon {
        font-size: 1.3em;
    }

    .search,
    .save {
        font-size: 1em;
    }
}

input {
    height: 40px;
    outline: none;
    border: none;
    background-color: inherit;
    border-bottom: solid 1px black;
    padding: 0;
    box-sizing: border-box;
    color: black;

    &:focus {
        border-bottom-width: 2px !important;
    }

    &::placeholder {
        color: #999;
    }
}

.cursor-control {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: $primary;
    z-index: 9;
    margin-left: -14px;
    margin-top: 4px;

    &.end {
        border-radius: 0% 50% 50% 50%;
    }

    &.start {
        border-radius: 50% 0 50% 50%;
        margin-left: -10.5px;
    }
}

.clipboard-contextmneu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    display: flex;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    z-index: 99;

    >span {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        margin: 5px 0;
        padding: 0 5px;
        font-size: 0.9em;
        min-width: 67px;
        text-align: center;

        &:not(:last-child) {
            border-right: solid 1px #ccc;
        }
    }
}

.file {
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: 6px center;
    background-size: 18px;
    width: 30px;
    height: 30px;
}

input {
    text-indent: 10px;
}

.main {
    position: relative;
}

.hr {
    display: flex;
    align-items: center;
    margin: auto auto 15px auto;

    &::after,
    &::before {
        content: '';
        height: 1px;
        width: 60px;
        background-color: black;
        margin: auto 15px;
        opacity: 0.5;
    }
}

@keyframes move-around {
    0% {
        transform: scaleX(1) translate3d(-100px, 0, 0);
        background-color: rgb(211, 106, 106);
    }

    25% {
        background-color: rgb(157, 211, 106);
    }

    50% {
        transform: scaleX(1) translate3d(100px, 0, 0);
        background-color: rgb(211, 106, 197);
    }

    75% {
        background-color: rgb(130, 106, 211);
    }

    100% {
        transform: scaleX(1) translate3d(-100px, 0, 0);
        background-color: rgb(211, 106, 106);
    }
}