.ace_mobile-menu,
.ace_tooltip.ace_doc-tooltip {
  display: none !important;
}

.ace_editor {
  &[data-font="Fira Code"] {
    font-feature-settings: 'liga' on, 'calt' on;
    -webkit-font-feature-settings: 'liga' on, 'calt' on;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
}

.ace_tooltip {
  background-color: rgb(255, 255, 255);
  background-color: var(--secondary-color);
  color: rgb(37, 37, 37);
  color: var(--secondary-text-color);
  max-width: 68%;
  white-space: pre-wrap;
}

main .ace_editor {
  textarea {
    user-select: none !important;
    pointer-events: none !important;
    transform: translate(-100000px, -10000px) !important;
  }
}

.ace-container {
  height: 100%;
}