.ace_editor,
.ace_editor * {
    font-family: monospace
}

.ace_mobile-menu {
    width: fit-content;
    position: absolute;
    border-radius: 4px;
    user-select: none;
    background: white;
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.4);
    border: none;
    color: black;
    margin-top: 0;
    left: 0 !important;
    right: auto !important;
    z-index: 10;

    .mask {
        z-index: 112;
    }

    .ace_mobile-contextmenu-list {
        z-index: 113;
        display: flex;
        flex-direction: column;
    }

    >span {
        min-width: fit-content !important;
        width: 100% !important;
    }

    >.ace_mobile-button:first-child {
        font-size: 0.6em;
    }

    .ace_mobile-button {
        min-width: 80px;
        display: flex;
        height: 40px;
        align-items: center;
        cursor: pointer;
        overflow: hidden;
        box-sizing: border-box;
        white-space: nowrap;
        padding: 0 10px;

        &:not(:last-child) {
            border-bottom: solid 1px #ccc;
        }

        &:hover {
            background-color: #eee;
            opacity: 1;
        }

        &:active {
            background-color: #ddd;
        }
    }
}

.ace_prompt_mask {
    z-index: 107;
}

.ace_prompt_wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: 50px auto 0 auto;
    z-index: 10;
    width: 90vw;
    max-width: 600px;
    height: fit-content;
    z-index: 108;

    .ace_prompt_container {
        position: relative;
        padding: 0;
        margin: 0;
        overflow: hidden;

        >div:first-child {
            height: 25px !important;

            .ace_content {
                margin-top: 5px;
            }
        }

        >div:last-child {
            width: 90vw !important;
            box-sizing: border-box;
        }

        .ace_mobile-menu {
            display: none;
        }
    }
}

.ace_tooltip {
    max-width: 80vw;
    white-space: pre-line;
}

.ace_scroller.ace_scroll-left {
    box-shadow: none !important;
}

.ace-container {
    height: 100%;
}