.main.settings {
    >.setting-item {
        display: flex;
        min-height: 60px;

        &:active {
            transition: all 100ms ease;
            background-color: rgba($color: #000000, $alpha: 0.5);
        }

        &:not(:last-child) {
            border-bottom: solid 1px #f3e9e9;
        }

        &:first-child {
            .container .value {
                text-transform: none;
            }
        }

        .container {
            flex: 1;
            display: flex;
            flex-direction: column;

            .text {
                flex: 1.2;
                display: flex;
                align-items: center;
            }

            .value {
                flex: 0.8;
                display: flex;
                align-items: center;
                opacity: 0.6;
                text-transform: capitalize;
            }
        }

        .icon {
            height: 60px;
            width: 60px;

            &.no-icon {
                width: 20px;
            }
        }
    }
}