body.no-animation {
  #sidenav {
    border-right: solid 1px rgba(0, 0, 0, 0.2);
  }
}

#sidenav {
  z-index: 109;
  position: fixed;
  left: 0;
  top: 0;
  width: 70vw;
  max-width: 350px;
  height: 100vh;
  background-color: #9999ff;
  background-color: var(--primary-color);
  color: white;
  color: var(--text-main-color);
  overflow: hidden;
  box-sizing: border-box;

  &.phone {
    transition: all 300ms ease;
    transform: translate(-100%, 0);
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.07);
  }

  &.tab {
    max-width: 250px;
  }

  &:empty {
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      content: attr(empty-msg);
      color: white;
      color: var(--text-main-color);
      font-weight: 900;
      opacity: 0.5;
    }
  }

  display: flex;
  flex-direction: column;

  & + .mask {
    z-index: 108;
  }

  > .list {
    max-width: 100%;
    max-height: 100%;

    &.hidden {
      max-height: 30px !important;
    }

    .tile {
      &:not(:first-child) {
        background-color: inherit;
      }

      &.notice {
        &::before {
          content: '•';
          color: rgb(212, 250, 150);
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1em;
        }
      }
    }

    .icon {
      height: 30px;
      width: 30px;
      color: currentColor;
      font-size: 1em;
    }

    > ul {
      overflow: auto;
      max-width: 100%;
      max-height: calc(100% - 30px);
      height: calc(100% - 30px);

      .tile:active {
        > *:nth-child(2) {
          color: gold;
        }
      }

      li {
        > *:nth-child(2) {
          color: currentColor;
        }

        &.active {
          > *:nth-child(2) {
            color: gold;
          }
        }
      }

      .list {
        min-width: fit-content;
      }
    }
  }

  .tile {
    user-select: none;
  }

  &.show {
    transform: translate(0, 0);
    animation: show 300ms ease 1;
  }
}

@keyframes show {
  0% {
    transform: translate(-100%, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}
