@import './variables.scss';

#sidenav {
    z-index: 107;
    position: fixed;
    left: 0;
    top: 0;
    width: 70vw;
    height: 100vh;
    background-color: darken($color: $primary, $amount: 2);
    overflow: hidden auto;
    box-sizing: border-box;

    &.phone {
        max-width: 400px;
        transition: all 300ms ease;
        transform: translate(-100%, 0);
        box-shadow: 4px 0 8px #0002;
    }

    &.tab {
        max-width: 250px;
    }

    &:empty {
        display: flex;
        align-items: center;
        justify-content: center;

        &::after {
            content: attr(empty-msg);
            color: white;
            font-weight: 900;
        }
    }

    display: flex;
    flex-direction: column;

    &+.mask {
        z-index: 106;
    }

    >.list {
        max-width: 100%;

        .tile {
            &:not(:first-child) {
                background-color: inherit;
            }

            &.notice {
                &::before {
                    content: '•';
                    color: rgb(212, 250, 150);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1em;

                }
            }
        }

        .icon {
            height: 30px;
            width: 30px;
            color: white;
            font-size: 1em;
        }

        >ul {
            overflow: auto hidden;
            max-width: 100%;

            .tile:active {
                >*:nth-child(2) {
                    color: gold;
                }
            }

            li {
                >*:nth-child(2) {
                    color: white;
                    display: unset;
                    line-height: 30px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                &.active {
                    >*:nth-child(2) {
                        color: gold;
                    }
                }
            }

            .list {
                min-width: fit-content;
            }
        }
    }

    .tile {
        user-select: none;
    }

    &.show {
        transform: translate(0, 0);
        animation: show 300ms ease 1;
    }
}

@keyframes show {
    0% {
        transform: translate(-100%, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}