@import './variables.scss';

$lightText : #333e59;

.theme-light {
    background-color: white;

    header,
    .prompt,
    .prompt .loader,
    #sidenav,
    .context-menu {
        background-color: white;

        .list .tile :nth-child(2),
        span:not(.error-msg),
        i,
        button,
        strong,
        input {
            color: $lightText;
        }
    }

    header {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    #sidenav {
        .list .tile.active {
            span:nth-child(2) {
                color: gold;
            }
        }

        &::after {
            color: #999;
        }
    }

    .open-file-list {
        background-color: white;

        .icon,
        .text {
            color: $lightText;
        }
    }

    .icon.float {
        background-color: white;
        color: $lightText;
    }

    footer {
        background-color: white;

        &:first-of-type {
            box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
        }
    }

    .prompt,
    .prompt .input,
    .button-container {
        background-color: white;
        color: $lightText;

        button:active {
            background-color: darken($color: white, $amount: 20);
        }
    }

    .prompt {
        .message.loader .loader {
            border: solid 4px $primary;
        }

        .scroll {
            &::-webkit-scrollbar-thumb {
                background: $primary;
            }
        }
    }

    input,
    textarea {
        &::placeholder {
            color: $lightText;
            opacity: 0.8;
        }
    }
}

$bgDark : #313131;
$pageBgDark: #252525;
$textDark : white;

.theme-dark {
    background-color: $pageBgDark;

    .list,
    .scroll {
        &::-webkit-scrollbar-thumb {
            background: $bgDark;
        }
    }

    .prompt {
        .scroll {
            &::-webkit-scrollbar-thumb {
                background: $pageBgDark;
            }
        }
    }

    .context-menu {
        &::-webkit-scrollbar-thumb {
            background: $pageBgDark;
        }
    }

    .prompt {
        &::-webkit-scrollbar-thumb {
            background: $pageBgDark;
        }
    }

    .open-file-list {
        background-color: $bgDark;

        .icon,
        .text {
            color: $textDark;
        }
    }

    .ace_prompt_wrapper {
        .ace_prompt_container {
            box-shadow: none;
        }

        .ace_editor {
            background-color: $bgDark;
            color: $textDark;

            box-shadow: none;
            border: none;

            .ace_cursor {
                color: white;
            }
        }

        .ace_active-line {
            background-color: $pageBgDark;
        }
    }

    .hr {

        &::after,
        &::before {
            background-color: #ccc;
        }
    }

    input {
        border-bottom: solid 1px currentColor;
        color: $textDark;
    }

    input,
    textarea {
        &::placeholder {
            color: white;
            opacity: 0.8;
        }
    }

    &.splash {
        &::before {
            background-color: $bgDark;
        }
    }

    .page {
        background-color: $pageBgDark;

        .main {

            a,
            button,
            small,
            span {
                color: white;
                border-color: #fff2;
            }

            .icon {
                color: $primary;
            }
        }
    }

    a {
        color: rgb(181, 180, 233);
    }

    .clipboard-contextmneu {
        background-color: $bgDark;

        >span {
            color: #ccc;

            &:not(:last-child) {
                border-right: solid 1px #777;
            }
        }
    }

    .context-menu,
    header,
    .prompt,
    #sidenav {
        background-color: $bgDark;

        li,
        span:not(.error-msg),
        i,
        button {
            color: $textDark;

            &::after,
            &::before {
                color: $textDark;
            }
        }
    }

    .context-menu {
        li.disabled span {
            color: #999;
        }

        hr {
            color: #4a4a4a;
        }
    }

    .prompt ul li.selected span {
        color: $textSecondry;
    }

    #sidenav {
        li.active {
            span:nth-child(2) {
                color: gold;
            }
        }
    }

    .icon.float {
        background-color: $bgDark;
        color: $textDark;
    }

    footer {
        background-color: $bgDark;
    }

    .button-container {
        background-color: $bgDark;
        color: $textDark;

        button:active {
            background-color: darken($color: $bgDark, $amount: 20);
        }
    }
}