.header,
header {
  &.tile {
    z-index: 98;
    height: 45px;
    height: var(--header-height);
    background-color: #9999ff;
    background-color: var(--primary-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px var(--box-shadow-color);
    color: white;
    color: var(--text-main-color);

    > *:nth-child(2) {
      pointer-events: unset !important;
      margin: auto;
      font-weight: bold;
      font-size: 1.2em;
      white-space: nowrap;
      overflow: auto;
    }
  }
}

.tile {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0 5px;
  box-sizing: border-box;

  &.select {
    pointer-events: none;
    border: solid 2px gold;
    background-color: inherit !important;
  }

  &:disabled,
  &.disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  *:not([action]) {
    pointer-events: none;
  }

  &.cut {
    opacity: 0.6;
  }

  > *:nth-child(2) {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.sub-text {
      display: block;

      &::after {
        content: attr(data-subText);
        font-size: 0.58em;
        opacity: 0.6;
        display: block;
        position: sticky;
        left: 0;
      }
    }
  }

  .octicon,
  .icon {
    height: 45px;
    height: var(--header-height);
    width: 45px;
    width: var(--header-height);
    font-size: 2em;

    &:active {
      transition: all 100ms ease;
      transform: scale(0.95) translateZ(0);
    }
  }
}
