$primary : #99f;
$textPrimary: rgb(255, 255, 255);
$textSecondry: rgb(153, 255, 139);


$secondry: #f99;
$errorText: #ffb95c;


$dialogText: white;

$headerHeight : 45px;
$statusbarWidth: 25px;
$footerHeight: 40px;