@font-face {
  font-family: 'icon';
  src: url('fonts/icons.eot?lvpu0f');
  src: url('fonts/icons.eot?lvpu0f#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?lvpu0f') format('truetype'),
    url('fonts/icons.woff?lvpu0f') format('woff'),
    url('fonts/icons.svg?lvpu0f#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon.error:before {
  content: "\e900";
}

.icon.error_outline:before {
  content: "\e901";
}

.icon.warning:before {
  content: "\e902";
}

.icon.report_problem:before {
  content: "\e902";
}

.icon.loop:before {
  content: "\e903";
}

.icon.sync:before {
  content: "\e903";
}

.icon.movie:before {
  content: "\e904";
}

.icon.movie_creation:before {
  content: "\e904";
}

.icon.not_interested:before {
  content: "\e905";
}

.icon.do_not_disturb:before {
  content: "\e905";
}

.icon.pause_circle_filled:before {
  content: "\e906";
}

.icon.pause_circle_outline:before {
  content: "\e907";
}

.icon.play_circle_filled:before {
  content: "\e908";
}

.icon.play_circle_outline:before {
  content: "\e909";
}

.icon.repeat:before {
  content: "\e90a";
}

.icon.repeat_one:before {
  content: "\e90b";
}

.icon.shuffle:before {
  content: "\e90c";
}

.icon.skip_next:before {
  content: "\e90d";
}

.icon.skip_previous:before {
  content: "\e90e";
}

.icon.stop:before {
  content: "\e90f";
}

.icon.video_collection:before {
  content: "\e970";
}

.icon.videocam:before {
  content: "\e971";
}

.icon.volume_down:before {
  content: "\e910";
}

.icon.volume_mute:before {
  content: "\e911";
}

.icon.volume_off:before {
  content: "\e912";
}

.icon.volume_up:before {
  content: "\e913";
}

.icon.forward_10:before {
  content: "\e914";
}

.icon.forward_30:before {
  content: "\e915";
}

.icon.forward_5:before {
  content: "\e916";
}

.icon.replay_10:before {
  content: "\e917";
}

.icon.replay_30:before {
  content: "\e918";
}

.icon.replay_5:before {
  content: "\e919";
}

.icon.fiber_new:before {
  content: "\e972";
}

.icon.art_track:before {
  content: "\e91a";
}

.icon.fiber_pin:before {
  content: "\e91b";
}

.icon.email:before {
  content: "\e973";
}

.icon.mail:before {
  content: "\e973";
}

.icon.markunread:before {
  content: "\e973";
}

.icon.local_post_office:before {
  content: "\e973";
}

.icon.chat_bubble:before {
  content: "\e974";
}

.icon.chat_bubble_outline:before {
  content: "\e975";
}

.icon.textsms:before {
  content: "\e976";
}

.icon.sms:before {
  content: "\e976";
}

.icon.add:before {
  content: "\e91c";
}

.icon.add_box:before {
  content: "\e91d";
}

.icon.add_circle:before {
  content: "\e91e";
}

.icon.add_circle_outline:before {
  content: "\e91f";
}

.icon.control_point:before {
  content: "\e91f";
}

.icon.block:before {
  content: "\e920";
}

.icon.clear:before {
  content: "\e921";
}

.icon.close:before {
  content: "\e921";
}

.icon.create:before {
  content: "\e922";
}

.icon.mode_edit:before {
  content: "\e922";
}

.icon.edit:before {
  content: "\e922";
}

.icon.flag:before {
  content: "\e923";
}

.icon.assistant_photo:before {
  content: "\e923";
}

.icon.gesture:before {
  content: "\e924";
}

.icon.link:before {
  content: "\e925";
}

.icon.insert_link:before {
  content: "\e925";
}

.icon.remove:before {
  content: "\e926";
}

.icon.remove_circle:before {
  content: "\e927";
}

.icon.do_not_disturb_on:before {
  content: "\e927";
}

.icon.remove_circle_outline:before {
  content: "\e928";
}

.icon.send:before {
  content: "\e929";
}

.icon.sort:before {
  content: "\e977";
}

.icon.file_copy:before {
  content: "\e978";
}

.icon.sd_storage:before {
  content: "\e979";
}

.icon.sd_card:before {
  content: "\e979";
}

.icon.attach_file:before {
  content: "\e92a";
}

.icon.attach_money:before {
  content: "\e92b";
}

.icon.format_align_center:before {
  content: "\e97a";
}

.icon.format_align_justify:before {
  content: "\e97b";
}

.icon.format_align_left:before {
  content: "\e97c";
}

.icon.format_align_right:before {
  content: "\e97d";
}

.icon.insert_photo:before {
  content: "\e92c";
}

.icon.image:before {
  content: "\e92c";
}

.icon.photo:before {
  content: "\e92c";
}

.icon.vertical_align_bottom:before {
  content: "\e97e";
}

.icon.vertical_align_top:before {
  content: "\e97f";
}

.icon.notes:before {
  content: "\e980";
}

.icon.attachment:before {
  content: "\e981";
}

.icon.cloud:before {
  content: "\e92d";
}

.icon.cloud_done:before {
  content: "\e92e";
}

.icon.cloud_download:before {
  content: "\e92f";
}

.icon.cloud_off:before {
  content: "\e930";
}

.icon.cloud_queue:before {
  content: "\e931";
}

.icon.cloud_upload:before {
  content: "\e932";
}

.icon.backup:before {
  content: "\e932";
}

.icon.folder:before {
  content: "\e933";
}

.icon.folder_open:before {
  content: "\e934";
}

.icon.headset:before {
  content: "\e982";
}

.icon.keyboard:before {
  content: "\e935";
}

.icon.keyboard_arrow_down:before {
  content: "\e983";
}

.icon.keyboard_arrow_left:before {
  content: "\e984";
}

.icon.keyboard_arrow_right:before {
  content: "\e985";
}

.icon.keyboard_arrow_up:before {
  content: "\e986";
}

.icon.keyboard_tab:before {
  content: "\e987";
}

.icon.keyboard_voice:before {
  content: "\e988";
}

.icon.security:before {
  content: "\e936";
}

.icon.toys:before {
  content: "\e989";
}

.icon.collections:before {
  content: "\e98a";
}

.icon.photo_library:before {
  content: "\e98a";
}

.icon.color_lens:before {
  content: "\e98b";
}

.icon.palette:before {
  content: "\e98b";
}

.icon.colorize:before {
  content: "\e98c";
}

.icon.crop:before {
  content: "\e937";
}

.icon.crop_din:before {
  content: "\e938";
}

.icon.crop_free:before {
  content: "\e939";
}

.icon.crop_original:before {
  content: "\e93a";
}

.icon.crop_square:before {
  content: "\e93b";
}

.icon.filter_hdr:before {
  content: "\e93c";
}

.icon.landscape:before {
  content: "\e93c";
}

.icon.terrain:before {
  content: "\e93c";
}

.icon.filter_none:before {
  content: "\e93d";
}

.icon.navigate_before:before {
  content: "\e93e";
}

.icon.chevron_left:before {
  content: "\e93e";
}

.icon.navigate_next:before {
  content: "\e93f";
}

.icon.chevron_right:before {
  content: "\e93f";
}

.icon.location_history:before {
  content: "\e98d";
}

.icon.arrow_back:before {
  content: "\e940";
}

.icon.arrow_drop_down:before {
  content: "\e941";
}

.icon.arrow_drop_down_circle:before {
  content: "\e942";
}

.icon.arrow_drop_up:before {
  content: "\e943";
}

.icon.arrow_forward:before {
  content: "\e944";
}

.icon.cancel:before {
  content: "\e945";
}

.icon.check:before {
  content: "\e946";
}

.icon.expand_less:before {
  content: "\e947";
}

.icon.expand_more:before {
  content: "\e948";
}

.icon.fullscreen:before {
  content: "\e949";
}

.icon.menu:before {
  content: "\e94a";
}

.icon.keyboard_control:before {
  content: "\e94b";
}

.icon.more_vert:before {
  content: "\e94c";
}

.icon.refresh:before {
  content: "\e94d";
}

.icon.unfold_less:before {
  content: "\e94e";
}

.icon.unfold_more:before {
  content: "\e94f";
}

.icon.arrow_upward:before {
  content: "\e950";
}

.icon.arrow_downward:before {
  content: "\e951";
}

.icon.first_page:before {
  content: "\e952";
}

.icon.last_page:before {
  content: "\e953";
}

.icon.arrow_left:before {
  content: "\e954";
}

.icon.arrow_right:before {
  content: "\e955";
}

.icon.arrow_back_ios:before {
  content: "\e956";
}

.icon.arrow_forward_ios:before {
  content: "\e957";
}

.icon.adb:before {
  content: "\e98e";
}

.icon.do_not_disturb_alt:before {
  content: "\e958";
}

.icon.folder_special:before {
  content: "\e98f";
}

.icon.public:before {
  content: "\e990";
}

.icon.whatshot:before {
  content: "\e991";
}

.icon.assignment_turned_in:before {
  content: "\e959";
}

.icon.autorenew:before {
  content: "\e95a";
}

.icon.book:before {
  content: "\e95b";
}

.icon.class:before {
  content: "\e95b";
}

.icon.bookmark:before {
  content: "\e95c";
}

.icon.turned_in:before {
  content: "\e95c";
}

.icon.bookmark_outline:before {
  content: "\e95d";
}

.icon.turned_in_not:before {
  content: "\e95d";
}

.icon.build:before {
  content: "\e95e";
}

.icon.cached:before {
  content: "\e95f";
}

.icon.change_history:before {
  content: "\e960";
}

.icon.check_circle:before {
  content: "\e961";
}

.icon.code:before {
  content: "\e962";
}

.icon.delete:before {
  content: "\e963";
}

.icon.done:before {
  content: "\e964";
}

.icon.done_all:before {
  content: "\e965";
}

.icon.extension:before {
  content: "\e992";
}

.icon.favorite:before {
  content: "\e966";
}

.icon.favorite_outline:before {
  content: "\e967";
}

.icon.highlight_remove:before {
  content: "\e968";
}

.icon.label:before {
  content: "\e993";
}

.icon.label_outline:before {
  content: "\e994";
}

.icon.language:before {
  content: "\e995";
}

.icon.power_settings_new:before {
  content: "\e969";
}

.icon.search:before {
  content: "\e96a";
}

.icon.settings:before {
  content: "\e96b";
}

.icon.settings_applications:before {
  content: "\e96c";
}

.icon.settings_ethernet:before {
  content: "\e96d";
}

.icon.stars:before {
  content: "\e996";
}

.icon.thumb_down:before {
  content: "\e997";
}

.icon.thumb_up:before {
  content: "\e998";
}

.icon.translate:before {
  content: "\e999";
}

.icon.http:before {
  content: "\e99a";
}

.icon.text_rotate_vertical:before {
  content: "\e99b";
}

.icon.text_rotation_none:before {
  content: "\e99c";
}

.icon.arrow_right_alt:before {
  content: "\e99d";
}

.icon.sync_alt:before {
  content: "\e96e";
}

.icon.emoji_events:before {
  content: "\e96f";
}

.icon.save:before {
  content: "\e99e";
}

.icon.send1:before {
  content: "\e99f";
}

.icon.android1:before {
  content: "\e9a0";
  color: #a4c639;
}

.icon.cplusplus:before {
  content: "\e9a1";
  color: #00599c;
}

.icon.css31:before {
  content: "\e9a2";
  color: #1572b6;
}

.icon.googlechrome:before {
  content: "\e9a3";
  color: #4285f4;
}

.icon.googleplay:before {
  content: "\e9a4";
  color: #607d8b;
}

.icon.java:before {
  content: "\e9a5";
  color: #007396;
}

.icon.javascript:before {
  content: "\e9a6";
  color: #f7df1e;
}

.icon.mozillafirefox:before {
  content: "\e9a7";
  color: #ff9400;
}

.icon.npm:before {
  content: "\e9a8";
  color: #cb3837;
}

.icon.php:before {
  content: "\e9a9";
  color: #777bb4;
}

.icon.powershell:before {
  content: "\e9aa";
  color: #5391fe;
}

.icon.ruby:before {
  content: "\e9ab";
  color: #cc342d;
}

.icon.visualstudiocode:before {
  content: "\e9ac";
  color: #007acc;
}

.icon.vlcmediaplayer:before {
  content: "\e9ad";
  color: #f80;
}

.icon.file-empty:before {
  content: "\e9ae";
}

.icon.file-text2:before {
  content: "\e9af";
}

.icon.file-zip:before {
  content: "\e9b0";
}

.icon.android:before {
  content: "\eac0";
}

.icon.chrome:before {
  content: "\ead9";
}

.icon.file-pdf:before {
  content: "\eadf";
}

.icon.file-word:before {
  content: "\eae1";
}

.icon.html-five2:before {
  content: "\eae5";
}

.icon.css3:before {
  content: "\eae6";
}