<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-browser" version="1.0.0">
  <name>cordova-plugin-browser</name>
  <description>In app browser</description>
  <license>Apache 2.0</license>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Browser">
        <param name="android-package" value="com.foxdebug.browser.Plugin"/>
      </feature>
    </config-file>


    <config-file parent="./application" target="AndroidManifest.xml">
      <activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode" android:name="com.foxdebug.browser.BrowserActivity" android:theme="@style/Theme.AppCompat.NoActionBar" android:windowSoftInputMode="adjustResize">
      </activity>
    </config-file>

    <hook type="after_prepare" src="utils/updatePackage.js" />

    <resource-file src="res/android/menu_enter.xml" target="res/anim/menu_enter.xml" />
    <resource-file src="res/android/menu_exit.xml" target="res/anim/menu_exit.xml" />
    <resource-file src="res/android/styles.xml" target="res/values/styles.xml" />
    <source-file src="android/com/foxdebug/browser/Browser.java" target-dir="src/com/foxdebug/browser"/>
    <source-file src="android/com/foxdebug/browser/BrowserActivity.java" target-dir="src/com/foxdebug/browser"/>
    <source-file src="android/com/foxdebug/browser/Emulator.java" target-dir="src/com/foxdebug/browser"/>
    <source-file src="android/com/foxdebug/browser/Plugin.java" target-dir="src/com/foxdebug/browser"/>
    <source-file src="android/com/foxdebug/browser/Menu.java" target-dir="src/com/foxdebug/browser"/>
  </platform>
</plugin>