<label class="input-checkbox">
  <input type="{{type}}" {{#checked}}checked{{/checked}} {{#name}}name="{{.}}" {{/name}} {{#id}}id="{{.}}" {{/id}}>
  <span class="box"></span>
  <span>{{text}}</span>
</label>