<span action='copy'>{{copy}}</span>
{{^readOnly}}<span action='cut'>{{cut}}</span>{{/readOnly}}
{{^readOnly}}<span action='paste'>{{paste}}</span>{{/readOnly}}
<span action='select all'>{{select all}}</span>