{{^readOnly}}<span action='copy'>{{copy}}</span>{{/readOnly}}
<span action='cut'>{{cut}}</span>
<span action='paste'>{{paste}}</span>
{{^readOnly}}<span action='select all'>{{select all}}</span>{{/readOnly}}