If editor is not working properly, try these suggestions:<br><br>
1. Turn off keyboard <strong>Autocorrect</strong> settings.<br>
<img src='./res/imgs/autocorrect/autocorrect-{{lang}}.jpg'><br>
2. Use <a href='https://play.google.com/store/apps/details?id=com.google.android.inputmethod.latin'>
  <strong>Gboard</strong>
</a>
or
<a href='https://play.google.com/store/apps/details?id=org.pocketworkstation.pckeyboard'>
  <strong>Hacker's Keyboard</strong>
</a>
<br><br>
3. Please read <a href='https://acode.foxdebug.com/faqs'>FAQs</a>