<style>
  span.rating { font-size: 2.4em; height: 48px; width: 48px; } div.rating {
  display: flex; align-items: center; justify-content: center; }
</style>
<div class='rating'>
  <span class='icon star_outline rating' value='1'></span>
  <span class='icon star_outline rating' value='2'></span>
  <span class='icon star_outline rating' value='3'></span>
  <span class='icon star_outline rating' value='4'></span>
  <span class='icon star_outline rating' value='5'></span>
</div>