<div id='social-links' title='Connect with developer'>
  <a href='https://instagram.com/ajitkumar.dev' class='icon instagram'></a>
  <a href='https://twitter.com/ajitkumar_dev' class='icon twitter'></a>
  <a href='https://github.com/deadlyjack' class='icon github'></a>
</div>