<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-intent" version="0.1.3">

    <name>IntentPlugin</name>
    <description>Cordova Plugin for Android to access intent</description>
    <license>MIT</license>

    <repo>https://github.com/napolitano/cordova-plugin-intent</repo>
    <issue>https://github.com/napolitano/cordova-plugin-intent/issues</issue>

    <keywords>cordova,intent,share,send,android</keywords>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="IntentPlugin">
                <param name="android-package" value="com.napolitano.cordova.plugin.intent.IntentPlugin"/>
            </feature>
        </config-file>

        <js-module src="www/android/IntentPlugin.js" name="intent">
            <clobbers target="window.intent" />
        </js-module>

        <source-file src="src/android/IntentPlugin.java" target-dir="src/com/napolitano/cordova/plugin/intent" />

    </platform>

</plugin>
