<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-sdcard" version="0.0.1">
  <name>cordova-plugin-sdcard</name>
  <description>Choose folder to get read/write access to the document tree</description>
  <license>Apache 2.0</license>
  <keywords>cordova,plugin,Folder</keywords>

  <js-module src="www/plugin.js" name="sdcard">
    <clobbers target="window.sdcard" />
  </js-module>
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="SDcard">
        <param name="android-package" value="com.foxdebug.sdcard.SDcard"/>
      </feature>
    </config-file>

    <framework src="commons-io:commons-io:2.11.0" />
    <framework src="commons-codec:commons-codec:1.10" />
    <framework src="androidx.documentfile:documentfile:1.0.1" />

    <source-file src="src/android/SDcard.java" target-dir="src/com/foxdebug/sdcard"/>
    <config-file target="AndroidManifest.xml" parent="/manifest"></config-file>
  </platform>
</plugin>