<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-iap" version="0.0.1">
  <name>cordova-plugin-iap</name>
  <description>In app purchase for Android.</description>
  <license>Apache 2.0</license>
  <keywords>cordova,plugin,in app purchase</keywords>

  <js-module src="www/plugin.js" name="iap">
    <clobbers target="window.iap" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Iap">
        <param name="android-package" value="com.foxdebug.iap.Iap"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="com.android.vending.BILLING" />
    </config-file>

    <source-file src="src/com/foxdebug/iap/Iap.java" target-dir="src/com/foxdebug/iap"/>
    <framework src="com.android.billingclient:billing:6.0.1" />
  </platform>
</plugin>