<li action="reload">
  <span class="text">{{reload}}</span>
  <span class="icon refresh"></span>
</li>
<li action="logout">
  <span class="text">{{logout}}</span>
  <span class="icon logout"></span>
</li>