#repos {
  .list-item {
    .icon {
      &.file {
        background-size: 16px;
        background-position: center;
      }
    }

    .octicon {
      &.main-icon {
        font-size: 1.8em;
        color: rgb(106, 115, 125) !important;

        &::before {
          content: '\f001';
        }

        &[private] {
          color: rgb(219, 171, 9) !important;

          &::before {
            content: '\f06a';
          }
        }
      }
    }

    .value {
      text-transform: unset;
      display: flex;

      .group {
        display: flex;
        align-items: center;
        margin-right: 15px;

        .octicon,
        .icon {
          height: 30px;
          width: 30px;
          font-size: 1em;
        }
      }
    }

    .private {
      > .text::after {
        content: 'private';
        font-size: 0.6em;
        border-radius: 4px;
        background-color: rgb(204, 204, 204);
        color: rgb(51, 51, 51);
        border: solid 1px rgb(51, 51, 51);
        margin: auto 5px;
        padding: 0 2.5px;
      }
    }
  }
}
