<li action="reload">
  <span class="text">{{reload}}</span>
  <span class="icon refresh"></span>
</li>
<!--<li action="my profile">
  <span class="text">{{my profile}}</span>
  <span class="icon account_circle"></span>
</li>-->
<li action="logout">
  <span class="text">{{logout}}</span>
  <span class="icon logout"></span>
</li>