<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-server" version="1.1.1">
  <engines>
    <engine name="cordova" version=">=6.5.0" />
  </engines>

  <name>Webserver for Cordova Apps</name>
  <keywords>HTTP server, webserver</keywords>

  <js-module src="www/server.js" name="CreateServer">
    <clobbers target="window.CreateServer" />
  </js-module>

  <platform name="android">
    <framework src="org.nanohttpd:nanohttpd:+" />
    <framework src="androidx.documentfile:documentfile:1.0.1" />
    <source-file src="src/android/com/foxdebug/server/Server.java" target-dir="src/com/foxdebug/server"/>
    <source-file src="src/android/com/foxdebug/server/NanoHTTPDWebserver.java" target-dir="src/com/foxdebug/server"/>
    <config-file target="config.xml" parent="/*">
      <feature name="Server">
        <param name="android-package" value="com.foxdebug.server.Server"/>
      </feature>
    </config-file>
  </platform>
</plugin>
