<div id="gistFiles" empty-msg="{{msg}}" class="main list">{{#files}}
  <div class="list-item" action="file" filename="{{filename}}">
    <span class="icon {{type}}"></span>
    <div class="container">
      <div class="text">
        <span>{{filename}}</span>
      </div>
    </div>
    <span class="icon delete" action="delete-file"></span>
  </div>
  {{/files}}</div>