<li action='create'>
  <span class='text'>{{new file}}</span>
  <span class='icon file-control document-add'></span>
</li>
<li action='delete-gist'>
  <span class='text'>Delete gist</span>
  <span class='icon delete'></span>
</li>