<div class="list-item" action="select-theme" tabindex="0" name="{{theme}}" mode="{{mode}}">
  <span class="icon color {{type}}"></span>
  <div class="container">
    <span class="text">{{name}}</span>
  </div>
  {{#default}}
  <span class="icon check"></span>
  {{/default}}
</div>