<div id='theme-setting' class='main'>
  <div class='options'>
    <span class='active' action='select' tabindex='0' value='app'>App</span>
    <span
      action='select'
      value='editor'
      tabindex='0'
      value='editor'
    >Editor</span>
  </div>
  <div id='theme-list' class='list scroll'></div>
</div>