<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-sftp" version="1.1.1">
    <name>Sftp</name>
    <description>Cordova Sftp Plugin</description>
    <license>MIT</license>
    <keywords>cordova,ftp</keywords>
    <repo>https://github.com/foxdebug/cordova-plugin-sftp.git</repo>

    <js-module src="www/sftp.js" name="sftp">
        <clobbers target="window.sftp" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Sftp">
                <param name="android-package" value="com.foxdebug.sftp.Sftp" />
            </feature>
        </config-file>

        <source-file src="src/android/Sftp.java" target-dir="src/com/foxdebug/sftp/" />
    </platform>

    <framework src="commons-io:commons-io:2.11.0" />
    <framework src="com.sshtools:maverick-synergy:3.0.3-FINAL" />
</plugin>
