<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-appversion" version="1.0.0">
    <name>App Version</name>
    <description>Expose the native app version to JavaScript</description>
    <license>MIT</license>
    <js-module src="www/app-version.js" name="RareloopAppVersion">
        <clobbers target="AppVersion" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="RareloopAppVersion">
                <param name="ios-package" value="RareloopAppVersion"/>
            </feature>
        </config-file>
        <header-file src="src/ios/RareloopAppVersion.h" />
        <source-file src="src/ios/RareloopAppVersion.m" />
    </platform>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="RareloopAppVersion">
                <param name="android-package" value="com.rareloop.cordova.appversion.RareloopAppVersion"/>
            </feature>
        </config-file>
        <source-file src="src/android/RareloopAppVersion.java" target-dir="src/com/rareloop/cordova/appversion" />
    </platform>
</plugin>