c-toggler {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    height: 40px;
    width: 40px;
    background-color: #99f;
    align-items: center;
    justify-content: center;
    user-select: none;
    transform-origin: center;
    border-radius: 50%;
    color: #fff;
    box-shadow: -2px 2px 8px rgba(0, 0, 0, .4);
    z-index: 99999
}

c-toggler:active {
    box-shadow: -1px 1px 4px rgba(0, 0, 0, .4)
}

c-console {
    box-sizing: border-box;
    padding-top: 65px;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #313131;
    z-index: 99998;
    animation: --page-transition .1s ease 1;
    color: #eee;
}

c-console .codeflask,
c-console textarea {
    caret-color: white !important;
    background-color: inherit;
}

c-input {
    display: flex;
    width: 100%;
    height: fit-content;
}

c-input::before {
    content: '>>';
    margin: 0 5px;
    height: 100%;
}

#__c-input {
    position: relative;
    width: 100%;
    border: none;
    background-color: transparent;
    overflow: scroll;
    resize: none;
    height: 200px;
}

.codeflask__flatten {
    padding: 0 !important;
}

#__c-input:focus {
    outline: none;
}

c-console::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: inherit;
    z-index: 999999;
    content: 'Console';
    display: flex;
    height: 44px;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    margin-bottom: 10px;
    color: white;
}

c-message {
    position: relative;
    display: flex;
    border-bottom: solid 1px rgba(204, 204, 204, 0.4);
    margin-bottom: 35px;
    font-size: .9em;
    flex-wrap: wrap;
}

c-type {
    display: block;
    background-color: #aaa;
    font-style: italic;
    padding: 6px;
    border-radius: 4px;
    font-size: 0.8em;
}

c-code {
    position: relative;
    color: rgb(202, 166, 166);
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: auto;
    white-space: pre;
}

c-code::after {
    content: 'use';
    background-color: #666;
    color: inherit;
    border-radius: 4px;
    padding: 0 0.4em;
    font-size: 0.6em;
}

c-code::before {
    content: '>>';
    padding: 0 5px;
    font-style: italic;
}

c-key {
    font-size: 0.9em;
    color: #c6f;
}

c-message.error {
    border-bottom: solid 1px rgba(255, 255, 255, 0.4);
    background-color: #f66;
    color: inherit
}

c-message.error::after {
    background-color: #cc4343;
    color: inherit
}

c-stack:not(:empty) {
    content: attr(data-stack);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 100%;
    right: 0;
    display: flex;
    height: 20px;
    align-items: center;
    justify-content: flex-end;
    width: 100vw;
    background-color: inherit;
    padding: 0 5px;
    box-sizing: border-box;
    font-size: .8em;
    color: inherit;
}

c-text {
    padding: 2px;
    white-space: pre;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: auto;
    box-sizing: border-box;
    max-width: 100vw;
    font-size: 0.9em;
}

c-text.__c-boolean {
    color: rgb(130, 80, 177);
}

c-text.__c-number {
    color: rgb(97, 88, 221);
}

c-text.__c-symbol {
    color: rgb(111, 89, 172);
}

c-text.__c-function {
    color: rgb(145, 136, 168);
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9em;
}

c-text.__c-function::before {
    content: 'Æ’';
    margin: 0 2px;
    font-style: italic;
    color: #99f;
}

c-text.__c-undefined {
    color: rgb(118, 163, 118);
}

c-text.__c-string {
    color: rgb(59, 161, 59);
}

c-text.__c-string:not(.no-qoutes)::before {
    content: '"';
    margin-right: 2px;
}

c-text.__c-string:not(.no-qoutes)::after {
    content: '"';
    margin-left: 2px;
}

c-message.error c-text {
    overflow: unset;
    white-space: pre-wrap;
    word-break: break-word;
    color: white;
}

@keyframes --page-transition {
    0% {
        opacity: 0;
        transform: translate3d(0, 50%, 0)
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}